body {
    background-image: url('../img/morning.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}