body {
    background-image: url('../img/morning.png');
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    background-size: auto 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}